export SECRET_KEY="django_secret_key"
export DB_NAME="reseller_cashback"
export DB_USER="postgres"
export DB_PASSWORD="postgres"
export DB_HOST="postgres"
export DB_PORT="5432"
export EXTERNAL_API_BASE_URL="https://api.example.com/v1/"
export EXTERNAL_API_TOKEN="api_token"
